* { 
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(Images/pic.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;  
    justify-content: flex-end;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
}

.nav-links a:hover {
    color: #f44336;
}

.text-box {
    position: relative;
    width: 100%;
    height: 850px;
}

.background-image {
    width: 100%;
    height: auto;
    position: absolute;
}

.color-box {
    position: absolute;
    top: 150px;
    left: 300px;
    width: 350px;
    height: 600px;
    background-color: rgba(39, 41, 49, 0.726);
    z-index: 1;
}

.overlay-image {
    position: absolute;
    top: 190px;
    left: 375px;
    width: 200px;
    height: auto;
    border-radius: 50%;
    z-index: 2;
}

.text {
    position: relative;
    font-size: 48px;
    top: 330px;
    color: #fff;
    font-family: 'Georgia', serif;
    font-weight: bold;
    text-align: center;
}

.color-box3 .text2 {
    position: relative;
    font-size: 18px;
    top: 345px;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    text-align: center;
}

.text3 {
    position: relative;
    font-size: 18px;
    top: 350px;
    color: #fff;
    text-align: center;
}

a img {
    width: 35px;
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

a img:hover {
    transform: scale(1.1);
}

.fix {
    font-size: 40px;
    color: #fff;
    font-family: 'Georgia', serif;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: 58%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.main {
    font-size: 18px;
    color: #fff;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 230px;
    left: 66%;
    transform: translateX(-50%);
    width: 35%;
    text-align: left;
}

.education {
    font-size: 18px;
    color: #fff;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 685px;
    left: 66%;
    transform: translateX(-50%);
    width: 35%;
    text-align: left;
}

.matn {
    font-size: 25px;
    color: #fff;
    font-family: 'Georgia', serif;
    font-weight: bold;
    position: absolute;
    top: 650px;
    left: 66%;
    text-align: left;
}

.project {
    font-size: 20px;
    color: #fff;
    font-family: 'Georgia', serif;
    font-weight: bold;
    position: absolute;
    top: 685px;
    left: 350px;
    text-align: center;
}
